h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:rgb(86, 81, 40);
}   

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}